body {
  background-color: white;
  color: #222;
  max-width: 688px;
  margin: auto;
  font-family: sans-serif;
}

p {
  list-style: 1.65;
}

article + article {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #c5c5c5;
}
